if page.memos_url
    #todolist
    .todolist-bottom
        p Powered by 
            a(target="_blank" href="https://github.com/usememos/memos" rel="noopener external nofollow") Memos
    
else
    if site.data.project
        #todolist
            - let result = ""
            each i in site.data.project
                - let className = i.class_name
                - let listResult = ""
                - let state = ""
                - let strikethrough = ""

                each j in i.project_list
                    - 
                        if (j.state) {
                            state = `fa-circle-check`
                            strikethrough = `class="achieve"`
                        } else {
                            state = `fa-circle`
                            strikethrough = ``
                        }
                        listResult += `
                            <li ${strikethrough}>
                                <i style="margin-right: 5px;" class="fa-regular ${state}"></i>${j.content}
                            </li>`
                    -
                
                - result += `<div class="list_item"><h3>${className}</h3><ul>${listResult}</ul></div>`
            != result

        .todolist-bottom
            p Powered by 
                a(target="_blank" href="https://github.com/usememos/memos" rel="noopener external nofollow") Memos
